html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
		Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

/* 
________/\\\\\\\\\__/\\\\\\\\\\\\\\\__/\\\\\\\\\\\\____        
 _____/\\\////////__\///////\\\/////__\/\\\////////\\\__       
  ___/\\\/_________________\/\\\_______\/\\\______\//\\\_      
   __/\\\___________________\/\\\_______\/\\\_______\/\\\_     
    _\/\\\___________________\/\\\_______\/\\\_______\/\\\_    
     _\//\\\__________________\/\\\_______\/\\\_______\/\\\_   
      __\///\\\________________\/\\\_______\/\\\_______/\\\__  
       ____\////\\\\\\\\\_______\/\\\_______\/\\\\\\\\\\\\/___ 
        _______\/////////________\///________\////////////_____ */
